@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/*---normalize---*/

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    margin: 0; padding: 0;
    background-color: #EAD79B;
    position: relative;
    width: 100%;
    height: 100%;
}

body * {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body header > figure {
    width: 100%;
    height: 10vh;
    top: 1.5rem;
}

body header > figure img {
    position: relative;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

/*---playboard grid---*/

main .board {
    position: relative;
    height: 65vh;
    width: 65vh;
    border-radius: 7%;
    left: 50%;
    top: 3vh;
    transform: translateX(-50%);
    box-shadow: #333 2px 2px 5px;
}

main .board > .board_shadow {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 7%;
    box-shadow: #e7e7e7 -3px -3px 5px;
}

main .board .board_grid {
    position: relative;
    height: 90%;
    width: 90%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-gap: 0;
    grid-template-rows: 1.25fr 1fr 1fr 1fr 1fr 1fr 1.25fr;
    grid-template-columns: 1.25fr 1fr 1fr 1fr 1fr 1fr 1.25fr;
}

main .board .board_grid .b1, .b2, .b3, .b4, .b5 {
    background-image: url(../graphics/c_t.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


main .board .board_grid .bc1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    background-image: url(../graphics/c_corner.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(270deg);
}

main .board .board_grid .b1 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

main .board .board_grid .b2 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

main .board .board_grid .b3 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

main .board .board_grid .b4 {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

main .board .board_grid .b5 {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
}

main .board .board_grid .bc2 {
    grid-column-start: 7;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    background-image: url(../graphics/c_corner.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main .board .board_grid .b6 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

main .board .board_grid .w1 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

main .board .board_grid .w2 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

main .board .board_grid .w3 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

main .board .board_grid .w4 {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}

main .board .board_grid .w5 {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}

main .board .board_grid .b7 {
    grid-column-start: 7;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
}


main .board .board_grid .b6, .b8, .b10, .b12, .b14 {
    background-image: url(../graphics/c_l.svg);
}

main .board .board_grid .b7, .b9, .b11, .b13, .b15 {
    background-image: url(../graphics/c_r.svg);
}

main .board .board_grid .b16, .b17, .b18, .b19, .b20 {
    background-image: url(../graphics/c_b.svg);
}

main .board .board_grid .w {
    background-image: url(../graphics/w_bottom.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Rozmístit jednotlivé pole do gridu*/


/*---activate/deactivate toggle---*/

main .popup_unact, .menu_unact {
    width: 60px;
    height: 100%;
    position: absolute;
    background-color: #D9C484;
} /*Aktivace/deaktivace vložením třídy...aktivace: ..._active, deaktivace: ..._unact*/

main .popup_active, .menu_active {
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: #D9C484;
}

/*---main_menu---*/

main .menu {
    top: 0;
    left: 0;
    border-radius: 0 30px 30px 0;
    box-shadow: #333 2px 2px 5px;
}

main .menu > figure {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%; right: 15px;
    transform: translateY(-50%);
}

main .menu > figure img {
    width: 100%;
}

main .menu_unact ul {
    display: none;
}

main .menu_active ul {
    display: block;
    position: relative;
    top: 7vh;
    width: calc(100% - 70px);
    left: 20px;
}

main .menu_active ul li {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    box-shadow: #333 2px 2px 5px;
    margin: 5vh 0;
}

main .menu_active ul li > span {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: #e7e7e7 -3px -3px 5px;
}

main .menu_active ul li > span > span {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: Roboto Condensed;
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: uppercase;
}

/*---part_menu---*/

main .popup {
    top: 0;
    right: 0;
    border-radius: 30px 0 0 30px;
    box-shadow: #e7e7e7 -3px -3px 5px;
}

main .popup > figure {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%; left: 15px;
    transform: translateY(-50%);
}

main .popup_unact > figure img {
    width: 100%;
    transform: rotate(90deg);
}

main .popup_active > figure img {
    width: 100%;
    transform: rotate(-90deg);
}

main .popup_active {
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #D9C484;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    width: 6px;
    background-color: rgba(51, 51, 51, 0.363);
    border-radius: 3px;
}

main .popup_unact ul {
    display: none;
}

main .popup_active ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 7vh;
    height: 100%;
    overflow-y: scroll;
    margin-block-end: 0;
    margin-block-start: 0;
}

main .popup_active ul li {
    width: 18vw;
    height: 18vw;
    border-radius: 20px;
    box-shadow: #333 2px 2px 5px;
    margin: 2vh 0;
}

main .popup_active ul li figure {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: #e7e7e7 -3px -3px 5px;
}

/*---button---*/

main > .wrapper {
    top: 2vh;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    margin-top: 50px;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    background-color: #D9C484;
    box-shadow: #333 2px 2px 4px;
}

main > .wrapper div {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: #e7e7e7 -2px -2px 4px;
}

main > .wrapper div img {
    position: relative;
    width: 50%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

}
